import org.scalatest.FeatureSpec
import org.scalatest.GivenWhenThen
import org.scalatest.matchers.ShouldMatchers
import org.junit.runner.RunWith
import org.scalatest.junit.JUnitRunner

@RunWith(classOf[JUnitRunner])
class MySpec extends FeatureSpec with GivenWhenThen with ShouldMatchers {
    feature("") {
        scenario("") {
          given("")
          when("")
          then("")
          pending
        }
    }
}